*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

@font-face{
    font-family: helvetica;
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

@font-face {
    font-family: kajiro;
    src: url(assets/kajiro/Kajiro\ Bold.ttf);
}


#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}

#back{
    width: 100%;
    height: 100vh;
    /* background-color: transparent; */
    overflow: hidden;
}

#back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#front{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.548); */
    /* background-color: transparent; */
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9;
}

#working-area{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    max-width: 1920px;
    /* background-color: #888; */
    /* border: 2px solid red; */
    position: relative;
}

#working-area nav{
    width: 100%;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left, #nav-right{
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav-left img{
    height: 60px;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 1px;
    pointer-events: all;
}

#hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* background: red; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

#hero-left{
    min-width: 50%;
    /* background-color: yellow; */
}

#hero-left .elem {
    /* background-color: red; */
    height: 10vw;
    overflow: hidden;
    position: relative;
}

#hero-left .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    font-family: kajiro;
    color: white;
    font-weight: 100;
    font-size: 12vw;
    line-height: 1;
}

#hero-left .elem h1:first-child{
    top: 0;
}

#hero-left button{
    font-family: kajiro;
    padding: 0.5vw 2.5vw;
    font-size: 3.3vw;
    letter-spacing: 3px;
    word-spacing: 1px;
    border: none;
    background-color: white;
    margin-top: 7vw;
    pointer-events: all;
    cursor: pointer;
}

#hero-right{
    width: 18%;
    text-align: end;
    color: white;
    font-family: Helvetica;
    /* background-color: rgba(172, 255, 47, 0.342); */
}

#hero-right #imgDiv{
    height: 180px;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 20px;
}

#imgDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#hero-right p{
    font-size: 1vw;
    line-height: 1.2;
}

#hero-right p:nth-child(3){
    margin-bottom: 30px;
}





































@media (max-width: 600px) {

    #main{
        width: 100%;
        height: 100vh;
        /* background-color: black; */
        overflow: hidden;
    }
    
    #back{
        width: 100%;
        height: 100vh;
        /* background-color: transparent; */
        overflow: hidden;
    }
    
    #back img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    #front{
        width: 100%;
        height: 100vh;
        /* background-color: rgba(0, 0, 0, 0.548); */
        /* background-color: transparent; */
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 9;
        overflow: hidden;
    }
    
    #working-area{
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        max-width: 1920px;
        /* background-color: #888; */
        /* border: 2px solid red; */
        position: relative;
    }
    
    #working-area nav{
        width: 100%;
        padding: 20px 0;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #nav-left, #nav-right{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    #nav-left img{
        height: 35px;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: helvetica;
        font-size: 2.2vw;
        font-weight: 600;
        letter-spacing: 1px;
        pointer-events: all;
    }
    
    #hero{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        /* background: red; */
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
    
    #hero-left{
        min-width: 50%;
        /* background-color: yellow; */
    }
    
    #hero-left .elem {
        /* background-color: red; */
        height: 15vw;
        overflow: hidden;
        position: relative;
    }
    
    #hero-left .elem h1{
        position: absolute;
        top: 100%;
        left: 0;
        font-family: kajiro;
        color: white;
        font-weight: 100;
        font-size: 18vw;
        line-height: 1;
    }
    
    #hero-left .elem h1:first-child{
        top: 0;
    }
    
    #hero-left button{
        font-family: kajiro;
        padding: 1vw 2.5vw;
        font-size: 7vw;
        letter-spacing: 1px;
        word-spacing: 1px;
        border: none;
        background-color: white;
        margin-top: 7vw;
        pointer-events: all;
        cursor: pointer;
    }
    
    #hero-right{
        width: 20%;
        text-align: end;
        height: 30vh;
        color: white;
        font-family: Helvetica;
        /* background-color: rgba(172, 255, 47, 0.342); */
        overflow: hidden;
    }
    
    #hero-right #imgDiv{
        height: 100px;
        width: 100%;
        /* background-color: aqua; */
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #imgDiv img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    #hero-right p{
        font-size: 2vw;
        line-height: 1.2;
    }
    
    #hero-right p:nth-child(3){
        margin-bottom: 30px;
    }


}